* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    color: rgb(241, 248, 248);
    background: rgb(7, 1, 44);
}

.header {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: rgb(4, 1, 22);
    display: flex;
    justify-content: space-between;
   align-items: center;
    z-index: 100;
}

.logo {
    position: relative;
    font-size: 25px;
    color: rgb(250, 250, 247);
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.nav a {
    display: inline;
    font-size: 20px;
    color: whitesmoke;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop 2s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.nav a:hover {
    color: rgb(7, 245, 210);


   border-radius: 20px;
  
  
}

.home {
    position: relative;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    background: rgb(8, 2, 41);
   background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}

.home-content {
    max-width: 600px;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 30px;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3 span {
    color: aqua;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}
.mo{
  display: none;
}
.home-content p {
    margin-bottom: 20px;
    font-size: 20px;
    opacity: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
    background: rgb
    

}
.home-content p span{
    color: rgb(235, 135, 5);
    font-size: 25px;
}
.home-sci a {

    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px rgb(5, 251, 222) solid;
    background: transparent;
    color: rgb(5, 244, 224);
    width: 40px;
    height: 40px;
    font-size: 20px;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
    text-decoration: none;
    margin: 30px 15px 30px 0;

}




.about{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
     gap: 2rem;
}
.about-img img{
    width: 100%;
    height: auto;
    border-radius: 8px;
    padding-bottom: 20%;
    max-width: 630px;
}
.about-text h2{
    font-size: 60px;
}
.about-text h2 span{
    color: aqua;
}
.about-text h4{
    font-size: 30px;
    color: whitesmoke;
    line-height: 1.7;
    font-weight: 600;
   margin: 15px 0 30px;
}
.about-text p{
    color: rgb(166, 252, 223);
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;

}
#services{
    color: rgba(193, 233, 220, 0.904);
    font-size: 20px;
    line-height: 1.4em;
    margin-bottom: 4rem;
    justify-content: space-between;
}
.sub-title{
    font-size: 60px;
    text-align: center;
    margin-bottom: 70px;
}
.sub-title span{
    color: cyan;
}
.service-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
     grid-gap: 50px;
    margin-top: 50px;
}



.container{
    padding: 90px;
}
.service-list div{
    background-color: rgb(5, 46, 15);
    padding: 40px;
    font-size: 13px;
    font-weight: 13px;
    border-right: 10px;
    border-radius: 50px;
    transition: background 0.5s, transform 0.5s;
    box-shadow: 1px 1px 20px rgb(65, 248, 9),
    1px 1px 40px cyan;

}
.service-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.service-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.service-list div a{
    text-decoration: none;
    font-size: 12px;
    color: rgb(4, 8, 241);
    display: inline-block;
    margin-top: 20px;

}

.read{
    display: inline-block;
    padding: 12px 28px;
    background: rgb(0, 255, 255);
    border-radius: 40px;
    font-size: 16px;
    color: rgb(9, 238, 59);
    letter-spacing: 2px;
    text-decoration: none;
    font-weight: 00;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: 1s;
    box-shadow: 0 0 5px, 0 0 25px rgb(0, 255, 242);

}


.read:hover{
    box-shadow: 0 0 5px rgb(4, 248, 236),
    0 0 25px rgb(2, 240, 248),
    0 0 50px rgb(4, 245, 253), 0 0 100px rgb(8, 232, 248),
    0 0 200px rgb(0, 247, 255);
}

.service-list div:hover{
    transform: translateY(-20px);
}

section{
    display: flex;
    flex-wrap: wrap;
}
.container1{
    height: 500px;
    width: 600px;
    padding: 75px 90px;
    margin-left: 120px;
    margin-bottom: 50px;
}
.heading-1{
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-bottom: 30px;
    
}
.technical-bars{
    font-size: 33px;
}
.technical-bars .bars{
margin-top: 40px;
}
.technical-bars .bars:first-child{
    margin-top: 0;
}
.technical-bars .bars:last-child{
    margin-bottom: 0;
}
.technical-bars .bars .info{
    margin-bottom: 5px;
}
.technical-bars .bars .info span{
  font-size: 17px;
  font-weight: 700;
  animation: showText 0.5s linear forwards;
  opacity: 0;
}
.technical-bars .bars .progress-line {
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 5px;
    background: rgb(252, 251, 253);
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}
@keyframes animate{
    100%{
        transform: scaleX(1);
    }
}
.technical-bars .bars .progress-line span{
    height: 100%;
    background-color: rgb(0, 4, 255);
    position: absolute;
    border-radius: 10px;
    animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}
.progress-line.html span{
    width: 60%;
}
.progress-line.css span{
    width: 70%;
}
.progress-line.javascript span{
    width: 60%;
}
.progress-line.react span{
    width: 50%;
}


.progress-line span::after{
    position: absolute;
    padding: 1px 8px;
    background-color: rgb(10, 14, 14);
    color: rgb(253, 251, 251);
    font-size: 12px;
    border-radius: 3px;
    top: -28px;
    right: -20px;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
}
.progress-line.html span::after{
content: "90%";
}
.progress-line.css span::after{
    content: "70%";
}
.progress-line.javascript span::after{
    content: "60%";
}
.progress-line.react span::after{
    content: "50%";
}
.progress-line.git span::after{
     content: "70%";
 }

 .progress-line span::before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom: 0px;
    border-right: 0px;
    border-top-color: rgb(14, 2, 2);
    top: -10px;
    right: 0px;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
 }
 @keyframes showText{
    100%{
        opacity: 1;
    }
 }
.radials{
    height: 100%;
    display: grid;
    flex-wrap: wrap;
   justify-content: space-evenly;
   align-items: flex-start;
  grid-template-columns: repeat(2, 1fr);
}
.radials .radial-bars {
    width: 50%;
    height: 170px;
    position: relative;
    margin-bottom: 10px;

}
.radials .radial-bar svg{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(-90deg);
    width: 120px;
    height: 160px;
}
.radials .radial-bars .progress-bar{
    stroke-width: 10;
    stop-color: rgb(22, 2, 2);
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
    animation: animate-bar 1s linear forwards;
}
@keyframes animate-bar{
    100%{
        stroke-dashoffset: -1;
    }
}
.path{
    stroke-width: 10;
    stroke: rgb(9, 248, 248);
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
}

.path-1{animation: animate-path1 1s 1s linear forwards;}
.path-2{animation: animate-path2 1s 1s linear forwards;}
.path-3{animation: animate-path3 1s 1s linear forwards;}
.path-4{animation: animate-path4 1s 1s linear forwards;}

@keyframes animate-path1{
    100%{
        stroke-dashoffset: 50;
    }
}
@keyframes animate-path2{
    100%{
        stroke-dashoffset: 175;
    }
}
@keyframes animate-path3{
    100%{
        stroke-dashoffset: 125;
    }
}
@keyframes animate-path4{
    100%{
        stroke-dashoffset: 75;
    }
}
.radials .radial-bars .percentage{
    position: absolute;
    top: 25%;
    left: 50%;
transform: translate(-50%,-50%);
font-size: 17px;
font-weight: 500;
animation: showText 0.5s 1s linear forwards;
opacity: 0;
}

.radials .radial-bars .text{

    width: 100%;
    position: absolute;
    text-align: center;
    left: 50%;
    bottom: -spx;
    transform: translateX(-50px);
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}

#imge{
    border-radius: 100px;
}























.home-sci a:hover {
    color: rgb(23, 30, 30);
    background: rgb(11, 237, 237);
    box-shadow: 0 0 25px rgb(3, 236, 253);

}

.btn {
    display: inline-block;
    padding: 12px 28px;
    background: rgb(4, 250, 230);
    border-radius: 40px;
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px, 0 0 25px cyan;
}

.btn:hover {
    box-shadow: 0 0 5px cyan,
        0 0 25px cyan,
        0 0 50px cyan, 0 0 100px cyan,
        0 0 200px cyan;
}

@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}
.portfolio{
    margin-top: 10px;
}


.main-text{
    padding-top: 130px;
    margin-top: 200px;

}
.main-text h2{
    font-size: 60px;
    line-height: 1;
    text-align: center;
}
.main-text h2 span{
    color: cyan;
}
.port-content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    grid-gap: 30px;
    margin-top: 50px;
}
.row{
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border-radius: 10px;
}
.row img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
width: 100%;
 height: 0;
 background: linear-gradient(rgb(16, 18, 17), rgb(3, 252, 207));
 position: absolute;
 border-radius: 10px;
 left: 0;
 bottom: 0;
 overflow: hidden;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 text-align: center;
 padding: 0 40px;
 transition: height 0.5s;

}
.layer h5{
    color: white;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 15px;

}
.layer p{
    color: white;
    font-size: 1rem;
   line-height: 1.8;

}
.layer a{
 color: rgb(246, 13, 13);
 margin-top: 20px;
 font-size: 20px;
 background: wheat;
 width: 60px;
 height: 60px;
 align-items: center;
 display: flex;
 justify-content: center;
 border-radius: 50px;
}
.row:hover img{
height: 100%;
transform: scale(1.1);
}
.row:hover .layer{
    height: 100%;
    
    }
.contact{
  display: flex;
 flex-wrap: wrap;
 flex-direction: row;
  align-items: center;
  gap: 3rem;
  padding-left: 30px;
  margin-top: 130px;
}
.text-contact h2 span{
  color: cyan;
}
.text-contact h4{
    margin: 15px 0;
    color: azure;
    font-weight: 600;
    font-size: 30px;
}
.text-contact p{
    color: beige;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 2rem;
}
.contact-lists{
    margin-bottom: 3rem;
}
.contact-lists li{
    margin-bottom: 20px;
    display: block;
   
}
.contact-lists i{
    padding: 8px;
    display: inline-block;
    color: aqua;
    font-size: 20px;
    font-weight: 600;
    transition: all .40s ease;
}
.contact-lists li:hover{
    transform: scale(1.01) translateY(-5px);
}
.contact-icons i{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid cyan;
    border-radius: 50%;
    color: cyan;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transform: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s*var(--i));
}
.contact-icons i:hover{
    background: cyan;
    color: black;
    box-shadow: 0 0 20px 0 cyan;

}
.contact-form form{
    position: relative;
}
.contact-form form input, form textarea, input{
 border: 0;
 outline: none;
 width: 90%;
 padding: 18px;
 background: rgb(150, 147, 147);
 color: black;
 font-size: 1em;
 font-weight: 600;
  margin-bottom: 0.5em;
  border-radius: .5em;
}
.contact-form .send{
    display: inline-block;
    padding: 12px 28px;
    background: rgb(130, 241, 241);
    border-radius: 60px;
    font-size: 14px;
    color: rgb(12, 12, 12);
    letter-spacing: 2px;
    text-decoration: none;
    font-weight: 00;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: 1s;
    box-shadow: 0 0 5px, 0 0 25px rgb(0, 41, 39);
}
.contact-form .send:hover{
    box-shadow: 0 0 5px rgb(4, 248, 236),
    0 0 25px rgb(2, 240, 248),
    0 0 50px rgb(4, 245, 253), 0 0 100px rgb(8, 232, 248),
    0 0 200px rgb(0, 247, 255);
}
.last-text p{
    width: 100%;
    padding: 25px 0;
    background: rgb(10, 12, 10);
    font-weight: 700;
    margin-top: 70px;
   
}
.top{
    position: fixed;
    bottom: 2.1rem;
    right: 2,1rem;
}
.top i{
    color: black;
    background: rgb(54, 151, 151);
    font-size: 20px;
    padding: 10px;
    border-radius: 0.5rem;
    margin-left: 40px;
    margin-bottom: 30px;
}
.top i:hover{
    box-shadow: 0 0 5px rgb(4, 248, 236),
    0 0 25px rgb(2, 240, 248),
    0 0 50px rgb(4, 245, 253), 0 0 100px rgb(8, 232, 248),
    0 0 200px rgb(0, 247, 255);
}
#para{
    background: white;
    border: 2px solid blue;
}
@media (max-width:760) {
    .header .nav{
        display: none;
    }
    .contact{
        display: flex;
        
    }
}